*{
	padding: 0;
	margin: 0;
	font-family: '微软雅黑';
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}
html{
	font-size:90%;
}
a{
	text-decoration: none;
	color: #333;
}
input{
	border:1px solid #d3d3d3;
	border-radius:5px;
}
.container{
	width:100%;
	margin-bottom:30px;
}
.container .bannerImg{
	width:100%;
	height:530px;
	background:url("../images/hzjd1.jpg") no-repeat;
    background-position:center;
    position:relative;
}
.container .bannerImg .banner{
    width:100%;
    height:60px;
    line-height:60px;
    background-color:rgba(0,0,0,.5);
    color:white;
    font-size:2rem;
    position:absolute;
    bottom:0;
    left:0;
}
.container .bannerImg .banner p{
	margin-left:100px;
}
.container .form{
	width:100px;
	max-width:1200px;
	background-color:#f3f3f3;
}
.container .form{
	width:100%;
	max-width:1200px;
	margin:auto;
	margin-top:60px;
	padding:30px 60px;
}
.container .form .title{
    height:35px;
    line-height:35px;
    text-align:center;
    font-size:1.6rem;
}
.container .form .list-one{
	height:50px;
	line-height:50px;
	padding-left:10px;
	color:#56549e;
	font-size:20px;
	background-color:#dddddd;
	margin:20px auto;
}
.container .form form table{
	margin:auto;
	table-layout:fixed;
}
.container .form form tr td{
	font-size:1.1rem;
}
.container .form form tr td input{
	width:250px;
	height:40px;
	outline:none;
}
.xuanze{
	background-color:white;
	height:30px;
	outline:none;
}
.table-two td .zdtime{
	border:1px solid #d7d7d7;
	background:url("../images/date.jpg") right 9px center no-repeat #fff;
    padding:0px 8px;
}
.table-two td .surebtn{
	font-size:1.1rem;
	color:white;
	border:1px solid transparent;
	border-radius:5px;
	background:#6968a1;
}
@keyframes colorChange{
	from{
		color:rgb(178,34,34);
	}
	to{
		color:rgb(255,48,48);
	}
}
.table-two td .surebtn:hover{
	animation:colorChange 1s;
	animation-fill-mode:forwards;
}
article span{
	font-size:1rem;
	float:left;
	margin-left:100px;
}
article textarea{
	width:756px;
	height:130px;
	margin-top:20px;
	outline:none;
}
form .tijiao{
	display:block;
	margin:40px auto;
    background:#c2a25c;
    color:white;
    font-size:1rem;
    cursor:pointer;
    border-radius:5px;
    outline:none;
}
select{
	font-size:0.9rem;
}
.form1,.form2,.form3{
	display:none;
}
@media screen and (min-width:1200px){
.form1{
	display:block;
}
.container{
	width:100%;
	margin-top:110px;
}
.container .bgPic{
	width:100%;
	position:relative;
}
.container .bgPic img{
	width:100%;
	display:block;
}
.container .bgPic .bg_sec{
	display:none;
}
.container .bgPic .bg_thi{
	display:none;
}
.container .bgPic  .nav{
	width:100%;
	height:60px;
	background-color:rgba(0,0,0,.5);
	position:absolute;
	bottom:0px;
	left:0px;
}
.container .nav ul{
	width:500px;
	height:60px;
	margin:auto;
	display:flex;
	justify-content:center;
}
.container .nav ul li{
     float:left;
     width:114px;
     height:60px;
     line-height:60px;
     text-align:center;
     margin-right:5px;
     color:white;
     list-style-type:none;
     font-size:1.1rem;
 }
.container .nav ul li:hover{
    background:#6968A1;
}
.active{
	background:#6968A1;
}
.container .content{
	width:95%;
	max-width:1200px;
	margin:auto;
	margin-top:50px;
	margin-bottom:30px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.container .content div p{
	text-align:center;
	margin:20px auto;
}
}
@media screen and (min-width:952px) and (max-width:1200px){
.form2{
	display:block;
}
.container{
	width:100%;
	margin-top:110px;
}
.container .bgPic{
	width:100%;
	position:relative;
}
.container .bgPic img{
	width:100%;
	display:block;
}
.container .bgPic .bg_fir{
	display:none;
}
.container .bgPic .bg_sec{
	display:block;
}
.container .bgPic .bg_thi{
	display:none;
}
.container .bgPic  .nav{
	width:100%;
	height:60px;
	background-color:rgba(0,0,0,.5);
	position:absolute;
	bottom:0px;
	left:0px;
}
.container .nav ul{
	width:500px;
	height:60px;
	margin:auto;
	display:flex;
	justify-content:center;
}
.container .nav ul li{
     float:left;
     width:114px;
     height:60px;
     line-height:60px;
     text-align:center;
     margin-right:5px;
     color:white;
     list-style-type:none;
     font-size:1.1rem;
 }
.container .nav ul li:hover{
    background:#6968A1;
}
.active{
	background:#6968A1;
}
.container .content{
	width:95%;
	max-width:1200px;
	margin:auto;
	margin-top:50px;
	margin-bottom:30px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.container .content div p{
	text-align:center;
	margin:20px auto;
}
}
@media screen and (min-width:952px) and (max-width:1044px){
.form2{
	display:block;
}
.container .content{
	width:95%;
	margin:auto;
	margin-top:50px;
	margin-bottom:30px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.container .content div p{
	text-align:center;
	margin:20px auto;
}
}
@media screen and (max-width:952px){
.form3{
	display:block;
}
.container{
	width:100%;
	margin-top:110px;
}
.container .bgPic{
	width:100%;
	position:relative;
}
.container .bgPic img{
	width:100%;
	display:block;
}
.container .bgPic .bg_fir{
	display:none;
}
.container .bgPic .bg_sec{
	display:none;
}
.container .bgPic .bg_thi{
	display:block;
	margin-top:-40px;
}
.container .bgPic  .nav{
	width:100%;
	height:40px;
	position:absolute;
	bottom:-70px;
	left:0px;
}
.container .nav ul{
	width:90%;
	max-width:550px;
	height:40px;
	margin:auto;
	display:flex;
	justify-content:space-around;
}
.container .nav ul li{
     float:left;
     width:90px;
     height:30px;
     border-radius:20px;
     line-height:30px;
     text-align:center;
     margin-left:5px;
     color:black;
     list-style-type:none;
     font-size:1.1rem;
 }
 .container .nav ul .active{
 	color:white;
 }
.container .nav ul li:hover{
    background:#6968A1;
    color:white;
}
.active{
	background:#6968A1;
}
.container .content{
	width:95%;
	max-width:1200px;
	margin:auto;
	margin-top:100px;
	margin-bottom:30px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.container .content div p{
	text-align:center;
	margin:20px auto;
}
article textarea{
	width:95%;
}
}